
<Ui-Test-Create-Modal
        @register="register"
        instance_name="{{ modal_id }}"

        modal_id="{{ modal_id }}"
        :runners='{{ runners | tojson }}'
        test_params_id="{{ modal_id }}_test_params"
        source_card_id="{{ source_container_id }}"
        :locations='{{ locations }}'
>
    <template #alert_bar>
        {{ template_slot('alert_bar', payload={
            'alert_container_id': 'alertCreateTest',
            'max_alerts': 2,
            'overlay_max_width': '1100px'
        }) | safe }}
    </template>
    <template #sources>
        {{ template_slot('sources_content', payload={
            'chapters': ['git', 'artifact'],
            'container_id': source_container_id
        }) | safe }}
    </template>
    <template #params_table>
        {{ template_slot('params_table_content', payload={
            'caption': 'Test Parameters',
            'modal_id': modal_id
        }) | safe }}
    </template>
    <template #integrations>
        {{ template_slot('integrations_ui_performance_content') | safe }}
    </template>
    <template #schedules>
        {{ template_slot('ui_performance_scheduling_test_create_content') | safe }}
    </template>
</Ui-Test-Create-Modal>

