<script src="{{ url_for('ui_performance.static', filename='js/confirm_delete_ui_test.js') }}"></script>
<script src="{{ url_for('ui_performance.static', filename='js/docker_command.js') }}"></script>
<script src="{{ url_for('ui_performance.static', filename='js/quality_gate.js') }}"></script>
<script src="{{ url_for('ui_performance.static', filename='js/core.js') }}"></script>
<script src="{{ url_for('ui_performance.static', filename='js/thresholds.js') }}"></script>
<script src="{{ url_for('ui_performance.static', filename='js/confirm_delete_ui_threshold.js') }}"></script>

{{ template_slot('params_table_scripts') | safe }}
{{ template_slot('sources_scripts') | safe }}
{{ template_slot('locations_scripts') | safe }}
{{ template_slot('integrations_ui_performance_scripts') | safe }}
{{ template_slot('ui_performance_scheduling_test_create_scripts') | safe }}
