<Table-Card
        @register="register"
        instance_name="table_thresholds"
        :wide-table-row="true"
        :adaptive-height="true"
        header='Thresholds'
        :table_attributes="{
                        'data-url': '/api/v1/ui_performance/thresholds/{{ tools.session_project.get() }}',
                        'data-page-size': 5,
                    }"
        container_classes="h-100"
>
    <template #actions>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-basic btn-icon mr-2" data-toggle="modal"
                    data-target="#threshold_modal">
                <i class="icon__18x18 icon-create-element icon__white"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-icon btn-icon__purple"
                    id="delete_thresholds"
            >
                <i class="icon__18x18 icon-delete"></i>
            </button>
        </div>
    </template>
    <template #table_headers>
        <th scope="col" data-checkbox="true"></th>
        <th data-visible="false" data-field="id">index</th>
        <th scope="col" data-sortable="true" data-field="test" data-formatter=threshold_formatters.test_env>Test</th>
        <th scope="col" data-sortable="true" class="align-top" data-field="scope" data-formatter=threshold_formatters.scopes>Scope</th>
        <th scope="col" data-sortable="true" data-field="aggregation" class="w-100" data-formatter=threshold_formatters.rules>Rule</th>
        <th scope="col"
            data-align="right"
            data-formatter=threshold_formatters.actions
            data-events="threshold_formatters.action_events">Actions</th>
    </template>
</Table-Card>
<Threshold-Modal
        @register="register"
        instance_name="threshold_modal"

        modal_id="threshold_modal"
        tests_table_component_name="table_tests"
        thresholds_table_component_name="table_thresholds"
>
</Threshold-Modal>