.col-6:first-child {
	padding-left: 1px;
}
.col-6:last-child {
	padding-right: 1px;
}

.dropdown_multilevel .dropdown-menu {
	width: 200px
}

.dropdown-menu i {
	color: var(--gray600);
}

.dropdown-menu li:hover i {
	color: var(--purple);
}

