<div class="modal-dialog modal-dialog-aside" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row w-100">
                <div class="col">
                    <h2>Create threshold</h2>
                </div>
                <div class="col-xs">
                    <button type="button" class="btn  btn-secondary mr-2" data-dismiss="modal" aria-label="Close">
                        Cancel
                    </button>
                    <button type="button" id="add_threshold" class="btn   btn-basic" onclick="insertThreshold()">Save
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="section">
                <div class="row">
                    <div class="d-flex flex-column w-100">
                        <h5 class="pt-2"> Test </h5>
                        <select id="testName" class="selectpicker bootstrap-select__b mb-3" data-style="btn"
                                onchange="updateEnvPicker()">
                            {% for test in tests %}
                            <option>{{ test }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="row">
                    <div class="d-flex flex-column w-100">
                        <h5 class="pt-2"> Test Environment </h5>
                        <select id="envName" class="selectpicker bootstrap-select__b mb-3" data-style="btn"
                                onchange="updateScopePicker()">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex flex-column w-100">
                       <h5 class="pt-2"> Scope </h5>
                        <p>
                            <h13>Request(s) you want thresholds to be applied to.</h13>
                        </p>
                        <select id="scope" class="selectpicker bootstrap-select__b mb-3" data-style="btn">
                            <option value="all">all</option>
                            <option value="every">every</option>
                            {% for request in requests %}
                            <option value="{{request}}">{{request}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex flex-column w-100">
                        <h5 class="pt-2"> Target </h5>
                        <p>
                            <h13>Metric you want to be measured against.</h13>
                        </p>
                        <select id="target" class="selectpicker bootstrap-select__b mb-3" data-style="btn">
                            <option value="throughput">throughput</option>
                            <option value="error_rate">error_rate</option>
                            <option value="response_time">response_time</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex flex-column w-100">
                        <h5 class="pt-2"> Aggregation </h5>
                        <p>
                            <h13>Math aggregation of the metrics to be applied for threshold calculation.</h13>
                        </p>
                        <select id="aggregation" class="selectpicker bootstrap-select__b mb-3" data-style="btn">
                            <option value="max">Maximum</option>
                            <option value="min">Minimum</option>
                            <option value="avg">Average</option>
                            <option value="pct95">Percentile 95</option>
                            <option value="pct50">Percentile 50</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex flex-column w-100">
                        <h5 class="pt-2"> Comparison </h5>
                        <p>
                            <h13>Rule to be used to compare results with thresholds.</h13>
                        </p>
                        <select id="comparison" class="selectpicker bootstrap-select__b mb-3" data-style="btn">
                            <option value="gte"> >=</option>
                            <option value="lte"> <=</option>
                            <option value="lt"> <</option>
                            <option value="gt"> ></option>
                            <option value="eq"> ==</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex flex-column w-100">
                        <h5 class="pt-2"> Threshold value </h5>
                        <input type="text" id="th_value" class="form-control form-control-alternative">
                    </div>
                </div>

            </div>
            <div class="row p-4">
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>