<div class="modal modal-base fixed-left fade shadow-sm" tabindex="-1" role="dialog" id="createUITestModal">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>Create UI Tests</h2>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button type="button" id="submit" class="btn btn-secondary mr-2" onclick="createTest()">
                            Save
                        </button>
                        <button type="button" id="save" class="btn btn-basic" onclick="createTest()">Save and
                            start
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="section">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <h9>Test Name</h9>
                                <p>
                                    <h13>Enter a name that describes the purpose of your test.</h13>
                                </p>
                                <input type="text" id="test_name" class="form-control form-control-alternative"
                                       placeholder="Test Name">
                            </div>
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <div class="form-group">
                                        <h9>Test Type</h9>
                                        <p>
                                            <h13>Tag to group tests by type</h13>
                                        </p>
                                        <input type="text" id="test_type" class="form-control form-control-alternative"
                                               placeholder="Test Type">
                                    </div>
                                </div>
                                <div class="flex-fill">
                                    <div class="form-group">
                                        <h9>Environment</h9>
                                        <p>
                                            <h13>Tag to group tests by env</h13>
                                        </p>
                                        <input type="text" id="test_env" class="form-control form-control-alternative"
                                               placeholder="Test Environment">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group custom-input w-100-imp" id="testrunners">
                                <h9>Test runner</h9>
                                <p>
                                    <h13>Choose the runner for the test.</h13>
                                </p>
                                <select class="selectpicker bootstrap-select__b" data-style="btn" id="runner">
                                    <option value="Sitespeed">Sitespeed (browsertime)</option>
                                    <option value="Observer">Observer</option>
                                    <option value="Lighthouse">Lighthouse</option>
                                    <option value="Lighthouse-Nodejs">Lighthouse-Nodejs</option>
                                </select>
                            </div>
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <div class="form-group">
                                        <h9>Number of loops</h9>
                                        <p>
                                            <h13>How many times to repeat scenario execution.</h13>
                                        </p>
                                        <input type="text" id="loops" class="form-control form-control-alternative"
                                               placeholder="# of loops" value="1">
                                    </div>
                                </div>
                                <div class="flex-fill">
                                    <div class="form-group">
                                        <h9>Aggregation</h9>
                                        <p>
                                            <h13>Aggregation rule</h13>
                                        </p>
                                        <select class="selectpicker bootstrap-select__b mt-2" data-style="btn"
                                                id="aggregation">
                                            <option value="max">Max</option>
                                            <option value="min">Min</option>
                                            <option value="avg">Avg</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            {{ template_slot("sources_content", payload={"chapters": ["git", "artifact"]}) | safe }}
                            <div class="form-group mt-2">
                                <div class="form-group">
                                    <h9>Entrypoint</h9>
                                    <p>
                                        <h13>Script name</h13>
                                    </p>
                                    <input type="text" id="entrypoint" class="form-control form-control-alternative"
                                           placeholder="Entrypoint (e.g. some_sitespeed_script.js or some_lighthouse_script.js)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ template_slot("params_table_content", payload={"caption": "Test Parameters", "modal_id":
                "ui"})
                | safe }}
            </div>
        </div>
    </div>
</div>